.bg-thead{
    background-color: #4C4C6D !important;
    color: white;
}

.no-border{
    border-width: 0px !important;
    border-style: none;
}

.btn-pay{
    color: white !important;
    background-color: #4C4C6D !important;
}

.btn-green{
    color: white !important;
    background-color: #5cb85c !important;
}

.btn-green:hover{
    color: white !important;
    background-color: #4c994c !important;
}

.btn-red{
    color: white !important;
    background-color: #dc3545 !important;
}

.btn-red:hover{
    color: white !important;
    background-color: #b03a3a !important;
}

.bg-green {
    background-color: #5cb85c !important;
    color: white !important;
}

.bg-red {
    background-color: #dc3545 !important;
    color: white !important;
}