.bg-card {
    /* background-color: #3a176d; */
    background-color: #d160ea;
    /* color: white; */
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }

.btn-card{
  background-color: #4C4C6D !important;
  color: white !important;
  border-color: #F2C94C !important;
}

.btn-card:hover {
  background-color: #F2C94C !important;
  color: white !important;
  border-color: #4C4C6D !important;
}

.btn-card:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-bg-rolling-eats {
  background-color: #F2C94C !important;
  color: black !important;
}