.footer-custom{
    background-color: #4C4C6D;
}

.footer-logo {
    width: 300px;
    height: 70px;
  }

.social-hover:hover {
    color: #F2C94C !important;
}

.margin-footer{
    margin-top: auto !important;
    margin-bottom: 0px !important;
}