*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.body-bg{
  height: 100vh;
  width: 100vw;
  background-image: url(src/assets/fondoLogin.jpg);
}

.logo{
  width: 250px;
}

.logo-sm{
  width: 150px;
}

.eye-color{
  color: #FFC107;
}