.img-logo {
  width: 175px;
}
.title {
  font-size: 50px;
}

.texto {
  font-size: 20px;
}

.red-white-text:hover{
  color: white !important;
}

.navbar-custom{
  background-color: #4C4C6D !important;
}