/* #F2C94C (golden yellow) → Cualquier otro texto

#5E5757 (charcoal grey) → Headings/títulos

#4C4C6D (deep blue) → Navbar and footer

#D9B08C (light beige) → Background, el fondo básicamente

#FF8566 (coral) → Color comodín para usarlo en cualquier otra cosa */


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: "Open sans", sans-serif;
  color: black;
}
#header{
  background-color: #4c4c6d;
}

.modif-logo{
  height: 100px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
}

a:link{
  color: #5E5757;
  text-decoration: none;
}
a:link:hover{
  color: goldenrod;
  text-decoration: none;
}

a.dropdown-item{
  color: white;
  background-color: #D9B08C  !important;
  padding: 5px;
}
a.dropdown-item:hover{
  color: white;
  background-color: coral !important;
}
.nav-menu ul{
margin:0;
padding: 0;
list-style: none;
}

.nav-menu >ul > li{
  position: relative;
  white-space: nowrap;
  padding: 10px 0px 10px 22px;
}
.nav-menu a{
  display: block;
  position: relative;
  transition: 0.3s;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0 4px;
  text-transform: uppercase;
}
.dropdown-toggle{
  color: coral;
}

.nav-menu >ul > li a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: coral;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
.nav-menu a:hover::before, .nav-menu li:hover > a::before, .nav-menu .active > a::before{
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a{
  color: goldenrod;
}
