.bg-thead{
    background-color: #4C4C6D !important;
    color: white;
}

.no-border{
    border-width: 0px;
    border-style: none;
}

.border-bottom{
    border-bottom: 1px solid #4C4C6D !important;
}